* @Vennilay

# Каждый владеет своей папкой homework и всеми подпапками
homework/Vennilay/ @Vennilay
homework/BAALOC/ @BAALOC
homework/Fq1jjeR/ @Fq1jjeR
homework/MXLNIK/ @MXLNIK
homework/Vondre/ @Vondre1
homework/Thesavewill/ @Thesavewill
homework/EgorDevRus/ @EgorDevRus
homework/lkzz13/ @lkzz13
homework/lii636/ @lii636


# Каждый владеет своей папкой files
files/Vennilay/ @Vennilay
files/BAALOC/ @BAALOC
files/Fq1jjeR/ @Fq1jjeR
files/MXLNIK/ @MXLNIK
files/Vondre/ @Vondre1
files/Thesavewill/ @Thesavewill
files/EgorDevRus/ @EgorDevRus
files/lkzz13/ @lkzz13
files/lii636/ @lii636