* @Vennilay

# Каждый владеет своей папкой homework и всеми подпапками
homework/Vennilay/ @Vennilay
homework/BAALOC/ @BAALOC
homework/Fq1jjeR/ @Fq1jjeR
homework/MXLNIK/ @MXLNIK
homework/Vondre1/ @Vondre1

# Каждый владеет своей папкой practise и всеми подпапками
practise/Vennilay/ @Vennilay
practise/BAALOC/ @BAALOC
practise/Fq1jjeR/ @Fq1jjeR
practise/MXLNIK/ @MXLNIK
practise/Vondre1/ @Vondre1

# Каждый владеет своей папкой files
files/Vennilay/ @Vennilay
files/BAALOC/ @BAALOC
files/Fq1jjeR/ @Fq1jjeR
files/MXLNIK/ @MXLNIK
files/Vondre1/ @Vondre1
