* @Vennilay

# --- Код студентов ---
Semester_1/Vennilay/ @Vennilay
Semester_1/BAALOC/ @BAALOC
Semester_1/Fq1jjeR/ @Fq1jjeR
Semester_1/MXLNIK/ @MXLNIK
Semester_1/Vondre/ @Vondre1
Semester_1/Thesavewill/ @Thesavewill
Semester_1/EgorDevRus/ @EgorDevRus
Semester_1/lkzz13/ @lkzz13
Semester_1/lii636/ @lii636

# --- Личные файлы данных ---
Semester_1/Materials/files/Vennilay/ @Vennilay
Semester_1/Materials/files/BAALOC/ @BAALOC
Semester_1/Materials/files/Fq1jjeR/ @Fq1jjeR
Semester_1/Materials/files/MXLNIK/ @MXLNIK
Semester_1/Materials/files/Vondre/ @Vondre1
Semester_1/Materials/files/Thesavewill/ @Thesavewill
Semester_1/Materials/files/EgorDevRus/ @EgorDevRus
Semester_1/Materials/files/lkzz13/ @lkzz13
Semester_1/Materials/files/lii636/ @lii636